.p_intro .thumbs{}
.p_intro .thumbs img{
    width: 100%;
    height: 100%;
}
.p_intro .content{
   width: 1000px;
   margin: auto;
}
.p_intro .content h1{
    text-align: center;
    font-size: 30px;
    color: #0260b3;
    font-weight: normal;
    line-height: 42px;
    margin-top: 16px;
}
.p_intro .content ul.info_lists{
    overflow: auto;
}
.p_intro .content ul.info_lists li{
    border-top: 1px dashed #151515;
    padding-top: 25px;
    margin-top: 25px;
    overflow: auto;
}
.p_intro .content ul.info_lists li .thumbs{
    width: 248px;
    height: 148px;
    margin: 0px 20px;
    float: left;
    border: 1px solid #005faf;
}
.p_intro .content ul.info_lists li .thumbs img{
    width: 100%;
    height: 100%;
}
.p_intro .content ul.info_lists li .nr{}
.p_intro .content ul.info_lists li .nr a{
    display: block;
    overflow: auto;
    position: relative;
}
.p_intro .content ul.info_lists li .nr a i.i_icon{
    font-size: 16px;
    color: #4d92e0;
    display: block;
    position: absolute;
    top: 13px;
    left: 0px;
}
.p_intro .content ul.info_lists li .nr a span{
    font-size: 18px;
    line-height: 36px;
    margin-left: 22px;
}
.p_intro .content ul.info_lists li .nr p{
    font-size: 16px;
    color: #606060;
    line-height: 32px;
}
.p_intro .content ul.info_lists li .nr p.liulan{
    font-size: 12px;
    color: #9a9a9a;
    line-height: 20px;
}
.p_intro .content ul.info_lists li .nr p.liulan small{
    margin-right: 7px;
}